<!DOCTYPE html>
<html >

<head>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
</head>

<body>
  <center>
 <div class="container">
  <tr>
    <td>
	<h1>Predict Movie</h1>
    </td>
  </tr>
     <!-- Main Input For Receiving Query to our ML -->
    <tr><td><form action="{{ url_for('predict')}}"method="post" style="border:1px solid #ccc"></td>
		<td><input type="text" name="movie" placeholder="Movie name" required="required" /></td>
        <td><button type="submit" class="signupbtn">Predict</button></td>
    </form>
  </tr>
   <br>
   <br>
   <!--{{prediction_text}}-->
 
<!--{% for i in data %}
<tr>
<td>{{ i.title }}</td>>
</tr>
{% endfor %}-->
<pre>{{output}}</pre>

 </div>

</center>
</body>
</html>
